<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form ng-submit="controller.save()" action="/" method="post">
        <div>
            <label>Name:</label>
            <input ng-model="controller.person.author" required/>
        </div>
        <div>
            <label>Comment:</label>
            <textarea ng-model="controller.person.comment" required></textarea>
        </div>
        <div>
            <label>DatePosted:</label>
            <input ng-model="controller.person.datePosted" type="datetime" />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</body>
</html>