<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>


    </style>
</head>
<body>
    <h2 style="color:maroon;"><strong>Menu</strong></h2>

    <div id="table01">

        <table style="width:100%" id="tablecolor">

            <tr>
                <th>Hot Expresso Drinks</th>
                <th>12 Oz</th>
                <th>16 Oz</th>
                <th>20 Oz</th>
                <th>Iced Beverages</th>
                <th>12 Oz</th>
                <th>16 Oz</th>
                <th>24 Oz</th>
            </tr>
            <tr>
                <td>Cafe Latte</td>
                <td>$2.95</td>
                <td>$3.60</td>
                <td>$3.90</td>
                <td>Latte</td>
                <td> - </td>
                <td>$3.45</td>
                <td>$4.05</td>
            </tr>
            <tr>
                <td>Vanilla Latte</td>
                <td>$3.25</td>
                <td>$3.65</td>
                <td> $3.90 </td>
                <td> Vanilla Latte </td>
                <td> - </td>
                <td> $3.45 </td>
                <td> $4.05 </td>
            </tr>
            <tr>
                <td> Caramel Machiatto </td>
                <td> $3.65 </td>
                <td> $4.25 </td>
                <td> $4.65 </td>
                <td> Caramel Latte</td>
                <td> - </td>
                <td> $3.65  </td>
                <td> $4.55 </td>

            </tr>
        </table>
    </div>
</body>
</html>